

.text-field {
    -fx-background-color:   transparent;
    -fx-border-color:  linear-gradient(#61a2b1, #2A5058);
    -fx-border-width:  2px 2px 2px 2px;
}

.list-cell { -fx-text-fill: black; /* 5 */ }

.list-cell:odd { -fx-background-color:transparent;}

.list-cell:filled:hover { 
    -fx-background-color: #00f; /* 2 */
    -fx-text-fill: white; /* 5 */
}
