
.label {
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}

.text-field {
    -fx-background-color:   transparent;
    -fx-border-color:  linear-gradient(#61a2b1, #2A5058);
    -fx-border-width:  2px 2px 2px 2px;
}

.button{
    -fx-text-fill: white;
    -fx-font-size: 13pt ;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}